<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMSIntro</key>
	<string>This application determines which, if any, sum of two unique members of the entered (1) list of integers that equal to the number chosen as that (2) sum.</string>
</dict>
</plist>
